@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #7f8693;
  border-radius: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
